﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row header">
    <div class="col-md-12">
        <h3>Categorie</h3>
        <a href="/Category/CreateOrEdit" class="btn btn-primary">New</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>
                        <a class="name">Category 1</a>
                    </td>
                    <td>
                        <a  class="btn">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="name">Category 2</a>
                    </td>
                    <td>
                        <a  class="btn">Edit</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="name">Category 3</a>
                    </td>
                    <td>
                        <a  class="btn">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
        
